h1{
    font-size: 50px;
    font-family: 'Kanit', sans-serif;
}
body{
    font-family: 'Lora', serif;
    margin: 0px;
}
.name-highlight{
    color: rgba(219, 69, 115, 0.835);
}
p{
    color: dimgray;
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left: 5%;
}
.half-width img{
    width: 80%;
}
.header{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    padding-top: 50px;
}
section{
    height: 700px;
    padding-bottom: 200px;
}
.link-button{
     text-decoration: none;
     background-color: rgba(219, 69, 115, 0.835);
     padding: 10px 20px;
     border-radius: 10px;
     color: white;
     font-weight: 700;
}
.biography{
    background-image: url(images/biography-bg.png);
    background-size: 700;
    padding-top: 50px;
    background-repeat: no-repeat;
}
h3{
    text-align: center;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
}
.latest-work{
    background-image: url("images/latest-work-bg.png");
    overflow: hidden;
    background-size: cover;
    background-position: bottom right;
    height: 600px;
    
}
.my-latest1{
    width: 30%; 
    float: left;
}
.my-latest1 img{
    margin-top: 80px;
    width: 400px;
    height: 350px;
    margin-left: 150px;
}
.my-latest2{
    width: 30%;
    float: right;
}
.my-latest2 img{
    margin-top: 80px;
    width: 400px;
    height: 350px;
    margin-left: 150px;
    float: right;
}
.my-latest3{
    width: 30%;
    float: right;
}
.my-latest3 img{
    margin-top: 80px;
    width: 350px;
    height: 350px;
}
h4{
    text-align: center;
    font-size: 25%;
    font-family: 'Kanit', sans-serif;
}
h5{
    text-align: center;
    font-size: 22%;
    font-family: 'Kanit', sans-serif;
}
.footer{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    padding-bottom: 25px;
    padding-top: 30px;
}
.footer div h3{
    font-size: 25px;
}
.footer div h4{
    font-size: 23px;
}
.footer div h5{
    font-size: 23px;
}
.work-area{
    display: flex;
    justify-content: space-around;
}
.my-latest img{
    width: 98%;
    box-shadow: 5px 5px 10px lightblue;
}
.right-side{
    padding-bottom: 20px;
    padding-top: 15%;
}
.last-work{
    text-align: center;
}
.last-footer p{
    text-align: center;
    background-color: rgba(219, 63, 115,0.835);
    width: 40%;
    margin: auto;
    border-radius: 5px;
    padding: 25px 0;
}
footer p{
    text-align: center;
}